body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --cta: "#F4F1DE";
  --background: "#E07A5F";
  --secondBackground: "#3D405B";
  --primary: "#81B29A";
  --secondary: "#F2CC8F";
  --tertiary: "#8F5D5D";
}
